*{
    font-family: 'Oxygen', sans-serif;
 
 }
 button{
     border-radius: 5px;
     font-size: 50px;
     width: 340px;
     padding: 15px;
     margin: auto;
     background-color:rgb(6, 124, 6);
     color: white;
 }
 .container-login100-form-btn{
     width: 300px;
     padding: 15px;
     margin: auto;
 }
 body {
     background-color: white;
 }
 .login100-form-title{
     color: black;
     width: 1000px;
 }
 .wrap-login100{
     background-color:white;
     color: rgb(0, 0, 0);
 }
 .input100{
     background-color:white;
     color: black;
     font-size: 20px;
     padding: 30px;
     margin: 30px 10px 5px 10px;
 }
 .input1001{
     font-size: 20px;
     padding: 30px;
     margin: 5px 10px 5px 10px;
 }
 .wrap-input100 validate-input m-b-16{
     padding: 100px;
 }
 .container-login100-form-btn{
     font-size: 50px;
     max-width: 300px;
     padding: 15px;
     margin: auto;
     border-radius: 5px;
 }
 .text-right p-t-13 p-b-23{
     padding-bottom: 23px;
     padding-top:13px;
     text-align: right !important;
     width: 840px;
 
 }
 .txt2{
     color:green;
 }
 .txt3{
     color:green;
 }
 p {
     font-family: verdana;
     font-size: 100%;
 }
 h1{
     font-size: 50px;
     max-width: 300px;
     padding: 15px;
     margin: auto;
     border-radius: 5px;
 }
 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 /* Modal Content */
 .modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
 }
 
 /* The Close Button */
 .close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }